.section-title {
    background-color: rgb(255, 0, 0);
    margin: 2rem 0;
    box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.452);
    text-align: center;

    a {
        font-size: 3rem ;
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: white;
        text-decoration: none;
    
    }
    a:visited {
        color: white;
        text-decoration: none;
    
    }
}

.busqueda_tienda_titulo {
    margin: 2rem auto;
    font-size: 2rem;
    text-decoration: underline;
}

.tienda h3 {
    text-align: center;
}

@media only screen and (max-width: 320px) {
   
    .tienda__hero {
        display: flex;
        flex-direction: column;
        img {
            border: none;  
            border-radius: 0; 
        }
        div {
            margin-top: 0.4rem;
        }
        div p:nth-of-type(3) {
            margin-bottom: 0;
        }
    }

    .tienda__categorias {
        display: flex;
        flex-direction: column;
    }
    .tienda__busqueda {
        display: flex;
        flex-direction: column;
    }
}

.tienda > * {
    margin-bottom: 2rem;
}

.tienda__busqueda {
    font-size: 1.6rem;
    display: flex;
    img {
        margin-bottom: 1rem;
        width: 100%;
        height: 25rem;
    
    }
    p {
        width: 40%;
    }
}

.tienda__categorias {
    font-size: 1.6rem;
    display: flex;
    p {
        width: 40%;
    }
    img {
        margin-bottom: 1rem;
        order: 3;
        width: 100%;
        height: 25rem;
    }
}

.tienda__hero {
    font-size: 1.6rem;
    display: flex;
    img {
        width: 100%;
        height: 25rem;
    } 
}    
 
@media only screen and (min-width: 320px) {
    .comentarios-container {
        position: absolute;
        margin-left: 0;
        margin-top: 10%;
        p {
            margin-top: 10%;
        }
    }

    .tienda__hero {
        width: 100%;
        flex-direction: column;
        img {
            width: 100%;
        }
    }
    
    .tienda__busqueda {
        width: 100%;
        flex-direction: column;
        img {
            width: 100%;
        }
    }
    
    .tienda__categorias {
        width: 100%;
        flex-direction: column;
        img {
            width: 100%;
        }
    }

}


@media only screen and (min-width: 450px) {
    .comentarios-container {
        position: absolute;
        margin-left: calc(50% - 20rem);
        margin-top: 10%;
        p {
            margin-top: 10%;
        }
    }
    
    .tienda__busqueda {
        width: 100%;
        img {
            width: 40rem;
            margin-left: calc(50% - 20rem);
        }   
        p {
            width: 40rem;
            margin: 0 auto;
        }
    }
    
    .tienda__categorias {
        width: 100%;
        p {
            width: 40rem;
            margin: 0 auto;
        }
        img {
            width: 40rem;
            margin-left: calc(50% - 20rem);
        }    
    }    
    
    .tienda__hero {
        width: 100%;
        img {
            width: 40rem;
            margin-left: calc(50% - 20rem);   
        }
    }
}    

@media only screen and (min-width: 620px) {
    .tienda__busqueda {
        align-items: center;
        flex-direction: row;
        img {
            margin: 0 auto;
        }    
        p {
            margin: 0 auto;
            width: 20rem;
        }
    }

    .tienda__categorias {
        align-items: center;
        flex-direction: row;
        p {
            margin: 0 auto;
            width: 20rem;
        }
        img {
            margin: 0 auto;
        }
    }

    .tienda__hero {
        align-items: center;
        flex-direction: row;
        img {
            order: 2;
            margin: 0 auto;
        }
    }
    
    .comentarios-container {
        position: initial;
        order: 1;
        margin: 0 auto;
    }

}

@media only screen and (min-width: 320px) and (max-width: 619px) {
    .comentarios-container p {
        background-color: rgba(255, 255, 255, 0.493);
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        padding: 0 0.5rem;
    }    
}    

// CUPONES

@media only screen and (min-width: 1024px) {
    .contenedor-puntos-cupones__cupones {
        margin-left: 2.5%;
    }
    .contenedor-puntos-cupones__puntos {
        margin-right: 2.5%;
}
}

@each $seccion, $color in $bg-titulos {
    .titulo-de-#{$seccion} {
        background-color: $color;
    }
}