@import './vars';

* {
    font-family: $font__f-main;
    font-size: $font__t-base;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: initial;
    font-family: $font__f-h;
}

