// COLORES

$bg-main: tomato;
$bg-section: gold;
$c-h1: rgb(116, 0, 0);
$c-h2: rgb(255, 255, 255);

// FUENTE

// familia

$font__f-main: Arial, Helvetica, sans-serif;
$font__f-h: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

// tamaño

$font__t-base: 10px;
$font__t-min: 1.6rem;
$font__t-min-med: 1.8rem;
$font__t-med: 2.2rem;
$font__t-med-max: 2.4rem;
$font__t-max: 2.8rem;
