/* RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

/* HEADER */

nav {
    display: flex;
    align-items: center;
}

.options {
    width: 100vw;
    text-align: center;
    margin-top: 200px;
}

.boton-navbar {
    margin-left: auto;
    margin-right: 10px;
}

.boton-usuario {
    margin-right: 20px;
}

.logo {
    margin-left: 20px;
    z-index: 2;
}

.nav-opciones {
    display: none;
}

.boton-navbar__opciones {
    z-index: 1;
}

@media only screen and (min-width: 600px) {
    
    .boton-navbar {
        display: none;
    }
    
    .boton-usuario {
        margin-left: auto;
    }
    
    .nav-opciones {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin: 0 5%;
    }
    
}

/* TIENDA */

/* titulo de la tienda */

.tienda-title,
.ofertas-title {
    background-color: red;
    color: white;
    padding: 0.5rem 1rem;
}    

.tienda-title a {
    font-size: 2rem;
}    

/* primer articulos de la tienda */
.tienda__busqueda,
.tienda__categorias,
.tienda__hero {
    font-size: 1.6rem;
    display: flex;
}    

.tienda__hero img, 
.tienda__busqueda img,
.tienda__categorias img {
    width: 100%;
    height: 25rem;
}    
.comentarios-container p {
    background-color: rgba(255, 255, 255, 0.493);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0 0.5rem;
}    

@media only screen and (min-width: 320px) {
    .comentarios-container {
        position: absolute;
        margin-left: 0;
        margin-top: 10%;
    }
    .comentarios-container p {
        margin-top: 10%;
    }
    .tienda__hero,
    .tienda__busqueda,
    .tienda__categorias {
        width: 100%;
        flex-direction: column;
    }
    .tienda__hero img,
    .tienda__busqueda img,
    .tienda__categorias img {
        width: 100%;
    }
}


@media only screen and (min-width: 450px) {
    .comentarios-container {
        position: absolute;
        margin-left: calc(50% - 20rem);
        margin-top: 10%;
    }
    .comentarios-container p {
        margin-top: 10%;
    }
    .tienda__busqueda p,
    .tienda__categorias p {
        width: 40rem;
        margin: 0 auto;
    }
    .tienda__hero,
    .tienda__busqueda,
    .tienda__categorias {
        width: 100%;
    }    
    .tienda__hero img,
    .tienda__busqueda img,
    .tienda__categorias img {
        width: 40rem;
        margin-left: calc(50% - 20rem);
    }    
}    



@media only screen and (min-width: 620px) {
    .tienda__busqueda,
    .tienda__categorias,
    .tienda__hero {
        align-items: center;
        flex-direction: row;
    }
    .tienda__hero img {
        order: 2;
        margin: 0 auto;
    }
    /* }
    .tienda__categorias img,
    .tienda__busqueda img,
    .tienda__hero img {
        margin: 0 auto;
    } */
    .comentarios-container {
        position: initial;
        order: 1;
    }
    .tienda__categorias p,
    .tienda__busqueda p,
    .comentarios-container {
        margin: 0 auto;
    }
    .tienda__categorias p,
    .tienda__busqueda p {
        width: 20rem;
    }
    .tienda__busqueda img,
    .tienda__categorias img {
        margin: 0 auto;
    }
}




/* segundo articulo de la tienda */

.title-1 {
    grid-area: title-1;
}

.title-2 {
    grid-area: title-2;
}

.title-3 {
    grid-area: title-3;
}

.icon-1 {
    grid-area: icon-1;
}

.icon-2 {
    grid-area: icon-2;
}

.icon-3 {
    grid-area: icon-3;
}

.icon-4 {
    grid-area: icon-4;
}

.icon-5 {
    grid-area: icon-5;
}

.oferta-1 {
    grid-area: oferta-1;
}

.oferta-2 {
    grid-area: oferta-2;
}

.oferta-3 {
    grid-area: oferta-3;
}

.oferta-4 {
    grid-area: oferta-4;
}

.oferta-5 {
    grid-area: oferta-5;
}

.icon-6 {
    display: none;
}

.icon-7 {
    display: none;
}

.icon-8 {
    display: none;
}

.oferta-6 {
    display: none;
}

.oferta-7 {
    display: none;
}

.oferta-8 {
    display: none;
}

.ofertas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: 
        'title-1 .. .. .. ..'
        '.. oferta-1 oferta-1 icon-1 ..'
        '.. icon-2 oferta-2 oferta-2 ..'
        'title-2 title-2 title-2 title-2 title-2'
        '.. oferta-3 oferta-3 icon-3 ..'
        'title-3 title-3 title-3 title-3 title-3'
        'icon-4 icon-4 icon-4 icon-4 icon-4'
        'oferta-4 oferta-4 oferta-4 oferta-4 oferta-4'
        'icon-5 icon-5 icon-5 icon-5 icon-5'
        'oferta-5 oferta-5 oferta-5 oferta-5 oferta-5'
    ;
}

.oferta-1,
.oferta-2,
.oferta-3,
.oferta-4,
.oferta-5 {
    text-align: center;
    padding-top: 3rem;
}

@media only screen and (min-width: 600px) {
    .ofertas {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas: 
            'title-1 title-1 oferta-1 oferta-1 icon-1'
            'title-1 title-1 oferta-1 oferta-1 icon-1'
            'title-1 title-1 oferta-2 oferta-2 icon-2'
            'title-1 title-1 oferta-2 oferta-2 icon-2'
            'icon-3 oferta-3 oferta-3 title-2 title-2'
            'icon-3 oferta-3 oferta-3 title-2 title-2'
            'title-3 title-3 title-3 title-3 title-3'
            '.. icon-4 .. icon-5 ..'
            '.. oferta-4 .. oferta-5 ..'
            '.. oferta-4 .. oferta-5 ..'
        ;
    }    
}

@media only screen and (min-width: 1024px) {
    .icon-6 {
        grid-area: icon-6;
        display: initial;
    }
    .icon-7 {
        grid-area: icon-7;
        display: initial;
    }
    .icon-8 {
        grid-area: icon-8;
        display: initial;
    }
    .oferta-6 {
        grid-area: oferta-6;
        display: initial;
    }
    .oferta-7 {
        grid-area: oferta-7;
        display: initial;
    }
    .oferta-8 {
        grid-area: oferta-8;
        display: initial;
    }


    .ofertas {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas:  
            'title-1 title-1 title-1 title-1 title-1'
            '.. icon-1 icon-2 icon-3 ..'
            '.. oferta-1 oferta-2 oferta-3 ..'
            'title-2 title-2 title-2 title-2 title-2'
            '.. icon-4 .. icon-5 ..'
            '.. oferta-4 .. oferta-5 ..'
            'title-3 title-3 title-3 title-3 title-3'
            '.. icon-6 icon-7 icon-8 ..'
            '.. oferta-6 oferta-7 oferta-8 ..' 
            '.. .. .. .. ..'
        ;
    }    
} 

/* CUPONES */

/* puntos */

.cupones-title {
    margin: 0 auto;
}

.cupones-puntos {
    display: flex;
    flex-direction: column;
}

.cupones-puntos__puntos {
    display: flex;
    flex-direction: column;
}

.puntos-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compra {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: tomato;
    color: white;
    align-items: center;
}

.compra-texto {
    width: fit-content;
    margin: 0 auto;
}

.compra-title {
    width: 80%;
}

.compra-img {
    width: 80%;
}

.compra-pts {
    width: fit-content;
}

.user-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
    background-color: steelblue;
    width: 70%;
    max-width: 45rem;
}

.user-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.user-img {
    width: 20%;
}

.user-data-nombre {
    width: fit-content;
}

.user-data-pts {
    width: fit-content;
}

/* cupones */

.cupones-puntos__cupones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cupones-generar {
    display: none;
}

.cupones-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cupones {
    display: flex;
    flex-direction: column;
}

.cupon {
    display: flex;
}

/* MEDIA CUPONES-PUNTOS */

@media only screen and (min-width: 450px) {
    

    .compra {
        width: 45rem;
        /* margin: 0 auto; */
    }
}

@media only screen and (min-width: 600px) {
    .cupones {
        flex-direction: row;
    }   
    .compra-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    .compra-texto {
        margin: initial;
    }
    .user-container {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 1024px) {
    .cupones-puntos {
        flex-direction: row;
    }
    .cupones-puntos__cupones {
        margin: 0 auto;
    }
    .cupones-generar {
        display: flex;
    }
    .cupones-contenido {
        flex-direction: row;
    }
    .cupones {
        flex-direction: column;
    }
}

/* CONTACTO */

.contacto-red { 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.redes {
    width: 100%;
}

.red {
    display: flex;
    align-items: center;
    justify-content: center;
}

.red-img {
    width: 30%;
    max-width: 12rem;
}

.mail {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

.mail label {
    margin-bottom: 1rem;
}

.mail input[type='text'] {
    margin-bottom: 0.5rem;
}

.texto {
    height: 5rem;
}

.mail legend {
    margin-bottom: 2rem;
}

.mail button {
    width: 30%;
    margin: 0 auto;
}

.mail-texto {
    display: none;
}

@media only screen and (min-width: 500px) {
    .contacto-red {
        flex-direction: row;
        align-items: center;
    }

}


@media only screen and (min-width: 600px) {
    .contacto-red {
        flex-direction: column;
    }

    .redes {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .mail {
        width: 32rem;
    }
}

@media only screen and (min-width: 800px) {
    
    .mail-texto {
        display: initial;
        width: 22rem;
        text-align: center;
        margin-left: auto;
    }
    .contacto-mail {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* BREADCRUMB */

.barra-secundaria {
    display:none;
}

@media only screen and (min-width: 600px) {
    
    .barra-secundaria {
        display: flex;
        align-items: center;
        width: 95%;
        margin-left: 20px;
        margin-right: 20px;
    }
       
    .index {
        margin-top: 11px;
    }
    
    .buscador {
        margin-left: auto;
    }
    
}

/* CATEGORIAS */

.categorias {
    margin: 0 20px;
}

.categorias h2 {
    text-align: center;
}

.categorias-item {
    border: 3px solid tomato;
    margin: 10px;
}

/* LOCALES */

.locales {
    margin: 0 20px;
}

.locales h2 {
    text-align: center;
}

.local {
    padding: 0 10px;
    margin: 10px 0;
}

.local-img {
    border: 2px solid black;
}

.local-info {
    display: flex;
    flex-direction: column;
}

.local-info spam {
    font-style: italic;
}

/* ITEMS */

.contenedor-card {
    min-width: 200px;
    max-width: 300px;
}

.contenedor-imagen {
    width: 100%;
}

.contenedor-datos {
    width: 100%;
}


/* COMBO */

.contenedor-combos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.combo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%; 
}

.combo i {
    margin: 10% 5%;
    transform: scale(2);
}

@media only screen and (min-width: 700px) {
    .combo {
        flex-direction: row;
        margin: 2.5% 5%;
    }
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
}

footer p:nth-of-type(1) {
    margin-left: 0.5rem;
}

footer p:nth-of-type(2) {
    margin-right: 0.5rem;
}


/* CONTACTO */

/* FORMULARIO MAIL */

.contacto-mensaje-mail {
    display: flex;
    flex-direction: column;
}

.texto-formulario-mail {
    width: fit-content;
    margin: 0 auto;
}

.titulo-mensaje-mail {
    text-align: center;
}

.formulario-mail {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 36rem;
    margin: 0 auto;
}

.formulario-mail button {
    width: 30%;
    margin: 0 auto;
}

/* CONTACTO REDES */

.contacto-redes h2 {
    text-align: center;
}

.contacto-redes__redes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    
    .contacto-mensaje-mail {
        flex-direction: row;
        margin: 0 10%;
    }
    
    .texto-formulario-mail {
        align-self: center;
    }

    .formulario-mail {
        margin-left: 10%;
    }

    .contacto-redes__redes {
        margin: 0 10%;
        flex-direction: row;
        justify-content: space-around;
    }
}

/* CUPONES */

/* OFERTAS DIARIAS */

.ofertas-diarias {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ofertas-diarias p {
    text-align: center;
}

.ofertas-diarias__ofertas {
    display: flex;
    flex-direction: column;
}

.ofertas-diarias__oferta {
    display: flex;
    align-items: center;
}

.ofertas-diarias__oferta p {
    text-align: center;
}

.ofertas-diarias__oferta:nth-last-of-type(2) p{
    order: 2;
}

.oferta-diaria-extra {
    display: none;
}

@media only screen and (min-width: 600px) {
    
    .ofertas-diarias {
        flex-direction: row;
        justify-content: center;
    }

    .ofertas-diarias p {
        margin-right: 2.5%;
    }

    .ofertas-diarias__ofertas {
        margin-left: 2.5%;
    }

    .ofertas-diarias__oferta:nth-last-of-type(2) img{
        order: 2;
    }

}

@media only screen and (min-width: 1024px) {
    
    .ofertas-diarias {
        flex-direction: column;
    }

    .ofertas-diarias__ofertas {
        flex-direction: row;
    }

    .ofertas-diarias__oferta {
        display: flex;
        flex-direction: column;
    }

    .ofertas-diarias__oferta p {
        order: 2;
    }

    .ofertas-diarias__oferta:nth-of-type(2) img {
        order: 1;
    }

}

/* OFERTAS SEMANALES */

.ofertas-semanales {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ofertas-semanales p {
    text-align: center;
}

.ofertas-semanales__ofertas {
    display: flex;
    flex-direction: column;
}

.ofertas-semanales__oferta {
    display: flex;
    align-items: center;
}

.ofertas-semanales__oferta p {
    text-align: center;
}

.oferta-semanal-extra {
    display: none;
}

@media only screen and (min-width: 600px) {
    
    .ofertas-semanales {
        flex-direction: row;
        justify-content: center;
    }

    .ofertas-semanales p {
        order: 3;
    }
    
    .ofertas-semanales p {
        margin-right: 2.5%;
    }

    .ofertas-semanales__ofertas {
        margin-left: 2.5%;
    }
}

@media only screen and (min-width: 1024px) {
    
    .ofertas-semanales {
        flex-direction: column;
    }

    .ofertas-semanales__ofertas {
        order: 3;
    }

    .ofertas-semanales__ofertas {
        flex-direction: row;
    }

    .ofertas-semanales__oferta {
        display: flex;
        flex-direction: column;
    }

    .ofertas-semanales__oferta p {
        order: 2;
    }

}

/* OFERTAS LOCALES */

.ofertas-locales {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ofertas-locales__ofertas {
    display: flex;
    flex-direction: column;
}

.ofertas-locales__oferta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ofertas-locales__oferta img {
    width: 50%;
}

.oferta-local-extra {
    display: none;
}

.ofertas-locales__oferta p {
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .ofertas-locales__ofertas {
        flex-direction: row;
    }

    .ofertas-locales__oferta {
        margin: 0 2.5%;
    }
}

@media only screen and (min-width: 900px) {
    .oferta-local-extra {
        display: flex;
        flex-direction: column;
    }
}

/* CUPONES */

.contenedor-puntos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.contenedor-puntos__compra {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

.contenedor-puntos-cupones h2,
.contenedor-cupones p,
.contenedor-puntos__compra p,
.contenedor-puntos__usuario p {
    text-align: center;
}

.contenedor-puntos__usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

.contenedor-cupones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-cupones p {
    max-width: 300px;
}

.contenedor-cupones__cupones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 600px) {

    .contenedor-puntos {
        flex-direction: row;
        justify-content: center;
    }

    .contenedor-puntos__compra {
        flex-direction: row;
        margin-right: 2.5%;
    }

    .contenedor-puntos__usuario {
        margin-left: 2.5%;
    }

    .contenedor-cupones__cupones {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

}

@media only screen and (min-width: 1024px) {
    
    .contenedor-puntos-cupones {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .contenedor-puntos-cupones__puntos {
        margin-right: 2.5%;
    }

    .contenedor-puntos-cupones__cupones {
        margin-left: 2.5%;
    }

}

/* FORMULARIO REGISTRO */

.contenedor-informacion-registro {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

.contenedor-informacion-registro__registro {
    display: flex;
    flex-direction: column;
}

.contenedor-informacion-registro__registro button {
    width: 30%;
    margin: 0 auto;
}

@media only screen and (min-width: 700px) {

    .contenedor-informacion-registro {
        flex-direction: row;
        max-width: initial;
        justify-content: center;
    }

    .contenedor-informacion-registro__registro {
        width: 300px;
        margin-left: 2.5%;
    }

    .contenedor-informacion-registro__informacion {
        width: 300px;
        margin-right: 2.5%;
    }

}